<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Vacination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!----- Link CSS------->
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
 <div class="center" >
      <div class="main">
          {% block content %}
          {% endblock %}
      </div>

 </div>


</body>

</html>